:root {
    --main-body-color: #ee5252;
    --font-body: "Jaro", sans-serif;
    --main-text-color: #fff;
    --special-text-color: #eddd62;
  }

  .jaro {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--main-text-color);
  }

  h1 {
    font-family: "Jaro", sans-serif;
    color:var(--special-text-color);
  }

  body {
    background-color: var(--main-body-color);
  }

  p {
    font-family: var(--font-body);
    font-weight: 400;
    font-style: normal;
    }

  .special-text {
    font-family: "Jaro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--special-text-color);
    display: inline;
  }

  .pokemon-button {
    background-color: #5182be;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pokemon-button:hover {
    background-color: #0757b9;
}

.pokemon-list {
  list-style: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /*displays over other content */
  overflow: auto; /*allows scrolling if screen not big enough */
  display: none;
  text-align: center; /* (w/ display) used to center modal */
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}